.grid-container {
  background-color: black;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "dis dis dis dis" "AC Del div" "seven eight nine multiply" "four five six sub" "one two three plus" "zero zero dot equal";
}

.display {
  height: 60px;
  width: 250px;
  font-size: 35px;
  color: white;
  padding-top: 10px;
}

.btn {
  border-radius: 50%;
  border-color: transparent;
  height: 50px;
  width: 50px;
  background-color: lightgray;
  margin: 3px;
}

#wide-btn {
  width: 100px;
  height: 50px;
  border-radius: 25%;
  background-color: gray;
}

.operation-btn {
  background-color: orange;
  color: grey;
}
